@mixin flexCenter {
	align-items: center;
	justify-content: center;
	display: flex;
}
$primaryClr :#3AB2C5;
*{
	margin: 0px;
	padding: 0px;
}
.col-md-7{
	margin-top: 12vh;
}
body{
    background:url('');
    background-color: $primaryClr;
	background-size: cover;
	background-attachment: fixed;
	font-family: new time roman;
}

h1{
	font-size: 40px;
	color: grey;
	margin-top: 250px;
}

p{
	font-size:17px; 
	color: grey
}

h3{
	font-size: 25px;
	color: black;
	text-align: center;;
}

.col-md-5{
	margin-top: 15vh;
	border-radius: 7%;
	background: white;
	height: 72vh;
}

.label{
	font-weight: normal;
	margin-top: 20px;
	color: black;
	font-size: 19px;
}

.form-control{
	background: transparent;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid lightblue;
	font-size: 18px;
	margin-top: 15px;
	height :6vh;
	color : white;
}

input[type=checkbox]{
	margin-top: 15px;
	width:15px;
	height: 15px;
}

small{
	font-size: 18px;
	color: black;
}

input[type=radio]{
	margin-top: 28px;
}

option{
	color:grey;
}

